<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <files>
        <file>
            <source>${basedir}/src/main/resources/plugin-descriptor.properties</source>
            <outputDirectory></outputDirectory>
            <filtered>true</filtered>
        </file>
        <file>
            <source>${basedir}/src/main/resources/plugin-security.policy</source>
            <outputDirectory></outputDirectory>
            <filtered>true</filtered>
        </file>
        <file>
            <source>../data/dictionary/binary/system/transition.bin</source>
            <outputDirectory>dictionary/binary/system</outputDirectory>
            <filtered>true</filtered>
        </file>
        <file>
            <source>../data/dictionary/binary/system/emission.bin</source>
            <outputDirectory>dictionary/binary/system</outputDirectory>
            <filtered>true</filtered>
        </file>
        <file>
            <source>../data/dictionary/text/user/dic.user</source>
            <outputDirectory>dictionary/text/user</outputDirectory>
            <filtered>true</filtered>
        </file>
        <file>
            <source>../data/dictionary/text/user/fwd.user</source>
            <outputDirectory>dictionary/text/user</outputDirectory>
            <filtered>true</filtered>
        </file>
    </files>
    <dependencySets>
        <dependencySet>
            <outputDirectory></outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <excludes>
                <exclude>org.elasticsearch:elasticsearch</exclude>
            </excludes>
        </dependencySet>
    </dependencySets>
</assembly>